{namespace m = Tx_Mtbraceresult_ViewHelpers}
<f:layout name="Default"/>


<f:section name="main">


    <div class="remove">
        <div class="dataTables_selectRacer col-md-3">
            <f:translate key="tx_mtbraceresult_domain_model_racer.name"/>
            :
            <br/>
            <select>
                <option selected value="">
                    <f:translate key="tx_mtbraceresult_domain_model_racer.show_all"/>
                </option>
                <f:for each="{m:listracers(raceresults:'{raceResults}')}" as="racer">
                    <option>{racer}</option>
                </f:for>
            </select>
        </div>
        <div class="dataTables_selectRace col-md-3">
            <f:translate key="tx_mtbraceresult_domain_model_race.name"/>
            :
            <br/>
            <select>
                <option selected value="">
                    <f:translate key="tx_mtbraceresult_domain_model_race.show_all"/>
                </option>
                <f:for each="{m:listraces(raceresults:'{raceResults}')}" as="race">
                    <option>{race}</option>
                </f:for>
            </select>
        </div>
    </div>


    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                <f:translate key="tx_mtbraceresult_domain_model_racer.name"/>
            </th>
            <th>
                <f:translate key="tx_mtbraceresult_domain_model_racer.ageclass"/>
            </th>
            <th>
                <f:translate key="tx_mtbraceresult_domain_model_race.name"/>
            </th>
            <th>
                <f:translate key="tx_mtbraceresult_domain_model_race.date"/>
            </th>
            <th>
                <f:translate key="tx_mtbraceresult_domain_model_raceresult.result"/>
            </th>
        </tr>
        </thead>
        <tbody>
        <f:for each="{raceResults}" as="raceResult">
            <f:cycle values="{0: 'even', 1: 'odd'}" as="oddEven">
                <tr class="{oddEven}">
                    <td>
                        {raceResult.racer.name}
                    </td>
                    <td>
                        <m:calculateageclass raceResult="{raceResult}"/>
                    </td>
                    <td>{raceResult.race.name.name} {raceResult.race.location}</td>
                    <td>
                        <f:format.date format="d.m.Y">{raceResult.race.date}</f:format.date>
                    </td>
                    <td>{raceResult.result}.Platz</td>
                </tr>
            </f:cycle>
        </f:for>
        </tbody>
    </table>


</f:section>